.users-container {
  margin: 3rem auto;
  width: 80rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th.projects-table-cell {
  border: 1px solid #e8ebfc;
}


th {
  background-color: #504a90;
  color: #e8ebfc;
  font-size: 1.2rem;
}
tr {
  background-color: #fbfffe;
}
tr.mat-row:nth-child(even) {
  background-color: #e8f3ed;
}

button {
  margin-right: 1rem;
}

.warn {
  width: 82px;
  height: 37px;
  background-color: #d27569;
  color: #e8ebfc;
}
.primary {
  width: 82px;
  height: 37px;
  background-color: #779d82;
  color: #e8ebfc;
}
.set-role_button {
  width: 82px;
  height: 37px;
  background-color: #504a90;
  color: white;
}
@media (max-width: 730px) {
  .buttons {
    display: flex;
    flex-direction: column;
    .primary {
      margin: 8px 0;
    }
    .warn {
      margin: 8px 0;
    }
    .set-role_button {
      margin: 8px 0;
    }
  }

}

